<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>22EDD2EA1DCED53C00662520</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22EDD3031DCED53D00662520</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22EDD30E1DCED53D00662520</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
